
.DS_Store
*.dylib
*.xcodeproj/

models/*
assimp/*
glm/*

glfw3Learning/CMakeFiles/
glfw3Learning/glfw3Learning.xcodeproj/
glfw3Learning/glfw3Learning/GLFW/
glfw3Learning/glfw3Learning/assimp/
glfw3Learning/glfw3Learning/glm
glfw3Learning/glfw3Learning.xcodeproj
.DS_Store
glfw3Learning/.DS_Store
glfw3Learning/glfw3Learning.xcodeproj
